{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="card mb-3">
    <img src="https://source.unsplash.com/1600x600/?cakes" class="card-img-top" alt="...">
    <div class="card-body">
      <h1> <span class="badge bg-secondary">Cooking with love, that you eat with pleasure</span></h1>
      <p class="card-text">Yummy proprietary Food Genome and patent-pending Food Intelligence technology allow us to understand recipes at a deeper level, and recommended receipes to our users based on their diets, allergies, tastes, and more.</p>
    </div>
</div>

<div class="card bg-dark text-white">
    <img src="https://source.unsplash.com/1600x600/?black screen" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3> <span class="badge bg-dark">Food Restaurant</span></h1>
      <p class="card-text">Our restaurant have best these restaurant have more facilities. Our restaurant has need and clean.</p>
      <div class="px-5">
      <p class="card-text">A fast food restaurant, also known as a quick service restaurant (QSR) within the industry, is a specific type of restaurant that serves fast food cuisine and has minimal table service. The food served in fast food restaurants is typically part of a "meat-sweet diet", offered from a limited menu, cooked in bulk in advance and kept hot, finished and packaged to order, and usually available for take away, though seating may be provided. Fast food restaurants are typically part of a restaurant chain or franchise operation that provides standardized ingredients and/or partially prepared foods and supplies to each restaurant through controlled supply channels. The term "fast food" was recognized in a dictionary by Merriam–Webster in 1951.</p>
      <p class="card-text">Variations on the fast food restaurant concept include fast casual restaurants and catering trucks. Fast casual restaurants have higher sit-in ratios, offering a hybrid between counter-service typical at fast food restaurants and a traditional table service restaurant. Catering trucks (also called food trucks) often park just outside worksites and are popular with factory workers.</p>
      </div>
    </div>
</div>
{% endblock body %}