{% extends 'base.html' %}
{% block title %}Service_Others{% endblock title %}
{% block body %}
<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?soft-drink" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Soft-Drink</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chips" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chips</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?manchurian" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Manchurian</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?french fries" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">French Fries</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?noodles" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Noodles</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?cake" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cake</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chocolate" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chocolate</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?biscuits" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Biscuits</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?samosa" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samosa</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?sandwich" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sandwich</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pasta" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pasta</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?maggi" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Maggi</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pani puri" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pani-Puri</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?kurkure" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kurkure</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?dosa" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dosa</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?masala fries" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Masala Fries</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?vegetable roll" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegetable Roll</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?mayo garlic roll" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mayo Garlic Roll</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?cheese stick" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cheese Stick</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?sandwich" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sandwich</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?dosa" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dosa</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?masala fries" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Masala Fries</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?vegetable roll" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegetable Roll</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?mayo garlic roll" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mayo Garlic Roll</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?cheese stick" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cheese Stick</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?crispy wings" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Crispy Wings</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?soft-drink" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Soft-Drink</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chips" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chips</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?manchurian" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Manchurian</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?french fries" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">French Fries</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?noodles" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Noodles</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?cake" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cake</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chocolate" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chocolate</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?biscuits" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Biscuits</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?samosa" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samosa</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}