{% extends 'base.html' %}
{% block title %}Service_Hot_Dog{% endblock title %}
{% block body %}
<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?regional burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Regional Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chicago burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicago Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?sonoran burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sonoran Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?jersey burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jersey Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?philadelphia burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Philadelphia Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?calirnia burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calirnia Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?seattle burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Seattle Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?alaska burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alaska Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?sooo cali burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sooo Cali Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?southwest sonoran burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Southwest Sonoran Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?dallas burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dallas Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?blazin's burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blazin's Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?newark burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Newark Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?milkaukee burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Milkaukee Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?all-american burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">All-American Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?italian burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Italian Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?atlanta burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Atlanta Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?new york burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">New York Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?detroit burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Detroit Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?san francisco burger" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">San Francisco Burger</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}