{% extends 'base.html' %}
{% block title %}Service_Pizza{% endblock title %}
{% block body %}
<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?sicilian pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sicilian Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?chicago-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicago-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?neapolitan pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Neapolitan Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pizza margherita" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pizza Margherita</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?calzone" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calzone</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?california-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calirnia-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?hawaoian pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hawaoian Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pizza roll" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pizza Roll</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?detroit-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Detroit-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?st. louis-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">St. Louis-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pizza al taglio" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pizza Al Taglio</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?new haven-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">New Haven-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?stuffed crust pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Stued Crust Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?tomato pie" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tomato Pie</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pan pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pan Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?greek pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Greek Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?quad city-style pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quad City-Style Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?pizza capricciosa" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pizza Capricciosa</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?detroit pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Detroit Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://source.unsplash.com/1200x900/?italian pizza" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Italian Pizza</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-dark">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}